@CHARSET "UTF-8";

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#legend {
    background: white;
    padding: 10px;
    width: 115px;
  }

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.inset-button {
	
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

.inset-button {
    background: rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px white, inset 0px 0px 0px 1px rgba(0, 0, 0, 0.19), 0px 0px 5px 0px rgba(255, 255, 255, 0.14), inset 0px 0px 6px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 1px 0px white, inset 0px 0px 0px 1px rgba(0, 0, 0, 0.19), 0px 0px 5px 0px rgba(255, 255, 255, 0.14), inset 0px 0px 6px 0px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 1px 0px white, inset 0px 0px 0px 1px rgba(0, 0, 0, 0.19), 0px 0px 5px 0px rgba(255, 255, 255, 0.14), inset 0px 0px 6px 0px rgba(0, 0, 0, 0.58);
    
    color:white;
    background-color:blue;
    font-size:30px;
    font-weight: bold;
    
    @include vertical-align;
}

.inset-button:hover {
    box-shadow: 0px 1px 0px white, inset 0px 0px 0px 1px rgba(0, 0, 0, 0.19), 0px 0px 7px 0px rgba(255, 255, 255, 0.14), inset 0px 0px 7px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 1px 0px white, inset 0px 0px 0px 1px rgba(0, 0, 0, 0.19), 0px 0px 7px 0px rgba(255, 255, 255, 0.14), inset 0px 0px 7px 0px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 1px 0px white, inset 0px 0px 0px 1px rgba(0, 0, 0, 0.19), 0px 0px 7px 0px rgba(255, 255, 255, 0.14), inset 0px 0px 7px 0px rgba(0, 0, 0, 0.58);
}

.inset-button:active {
    box-shadow: 0px 1px 0px white, inset 0px 0px 0px 1px rgba(0, 0, 0, 0.19), 0px 0px 10px 0px rgba(255, 255, 255, 0.16), inset 0px 0px 10px 0px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 1px 0px white, inset 0px 0px 0px 1px rgba(0, 0, 0, 0.19), 0px 0px 10px 0px rgba(255, 255, 255, 0.16), inset 0px 0px 10px 0px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 0px 1px 0px white, inset 0px 0px 0px 1px rgba(0, 0, 0, 0.19), 0px 0px 10px 0px rgba(255, 255, 255, 0.16), inset 0px 0px 10px 0px rgba(0, 0, 0, 0.68);
}

.ci_align_cell {
    vertical-align: top;
    width: 1px;
    white-space: nowrap;
}

.ci_body {
    #font-family:"Courier New", Courier, monospace;
    background-color:black;
}

.ci_body_error {
  background-color:white;
}

.ci_header {
    text-align: center;
    color:white;
    font-size:30px;
    font-weight: bold;
    text-align: center;
}

.ci_header_address {
    color:cyan;
    position: relative;
    font-size: 50px;
    #font-weight: bold;
    text-align: center;
    white-space: nowrap;
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* Chrome */
    word-wrap: break-word; /* IE */
}
.ci_header_type {
    text-align: center;
    color:yellow;
    font-size:25px;
    font-weight: bold;
}
.ci_header_type_blink {
    text-align: center;
    color:yellow;
    font-size:25px;
    font-weight: bold;
    width: 33%;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: steps(1, start);
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: steps(1, start);
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: steps(1, start);
    animation-iteration-count: infinite;
}
.ci_header_time {
    text-align: center;
    color:white;
    font-size:25px;
    font-weight: bold;
    width: 33%;
}

.ci_header_status {
    text-align: center;
    color:yellow;
    font-size:25px;
    font-weight: bold;
    width: 33%;
}
.ci_header_status_blink {
    text-align: center;
    color:yellow;
    font-size:25px;
    font-weight: bold;
    width: 33%;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: steps(1, start);
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: steps(1, start);
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: steps(1, start);
    animation-iteration-count: infinite;
}

.ci_header_units {
    color:white;
    font-size:25px;
    font-weight: bold;
    width: 33%
}
.ci_header_units_list {
    color:lime;
    font-size:25px;
    font-weight: bold;
}
.ci_header_audio_play {
    text-align: center;
    color:red;
    font-weight: bold;
  font: bold 30px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.ci_responders_header {
    color:white;
    font-size:25px;
    font-weight: bold;
}
.ci_responders_members {
    color:white;
    font-size:25px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

.ci_responders_members a{
    color:lime;
    font-size:25px;
    font-weight: bold;
    text-decoration: none;
}

.ci_responders_map_link {
    color:yellow;
    font-size:25px;
    font-weight: bold;
}

.ci_respondnow, .ci_audio_feed {
  background-color:yellow;
  font-size:25px;
  color: red;
  width: 100%; 
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    border: 1px solid #aabcfe;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}


.ci_finish_now_user {
    color:white;
    background-color:blue;
    font-size:35px;
    font-weight: bold;
}

.ci_completenow {
  background-color:green;
  font-size:25px;
  color: white;
  
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    border: 1px solid #aabcfe;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.ci_cancelnow {
  background-color:red;
  font-size:25px;
  color: white;
  
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    border: 1px solid #aabcfe;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.ci_respondername {
    color:yellow;
    font-size:25px;
    font-weight: bold;
}

.ci_responderTable    {
        display: table;

    }
.ci_responderCell    {
        display: table-cell;
        border: none;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
		color:yellow;
		font-size:25px;
		font-weight: bold;
    }

.ci_reload_timer {
  font-size:30px;
  font-weight: bold;
  color: white;
}

.google-maps {
    margin: auto;
	position: relative;
	#padding-bottom: 10%; // This is the aspect ratio
	overflow: hidden;
    width: {{ gvm.JSMAP_WIDTH }} !important;
	height: {{ gvm.JSMAP_HEIGHT }} !important;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}


@-moz-keyframes blinker {  
    0% { background-color: none; }
    50% { background-color: red }
    100% { background-color: none; }
}

@-webkit-keyframes blinker {  
    0% { background-color: none; }
    50% { background-color: red }
    100% { background-color: none; }
}

@keyframes blinker {  
    0% { background-color: none; }
    50% { background-color: red }
    100% { background-color: none; }
}

#player {
    height:0;
    width:0
}
