language: php

sudo: false

dist: trusty

env:
  - deps=default

matrix:
    include:
        - php: 7.1
        - php: 7.2
        - php: 7.3        
    fast_finish: true

notifications:
  email:
    on_success: change
    on_failure: always

before_install:
  - composer self-update
  - composer clear-cache

before_script:
- cd php/
- if [ "$deps" = "low" ]; then composer --prefer-lowest --prefer-stable update; fi;
- if [ "$deps" = "default" ]; then composer update; fi;
- if [ "$deps" = "default" ]; then composer install; fi;
# - ls -la
# - ls -la vendor/
- cp config-test.php config.php
- cp secrets/config-secrets-default.json secrets/config-secrets.json
#  - cd ../

script:
#  - phpunit -d zend.enable_gc=0 --coverage-text
  - php vendor/bin/phpunit --coverage-text --verbose --debug
#script: phpunit -d zend.enable_gc=0 --verbose --debug

notifications:
  irc: "irc.freenode.org#softhaus"

