<!DOCTYPE html>
<html>
    <head>
        <title>Secure Login: Log In</title>
        {% if gvm.isMobile %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/mobile.css" />
        {% else %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/main.css" />
        {% endif %}
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/sha512.js"></script>
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/jquery-2.1.1.min.js"></script> 
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/spin.js"></script>
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/forms.js"></script> 
		<script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/common-utils.js"></script>
		<script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/qrcode/qrcode.min.js"></script>
    </head>
    <body>
    
    	<div class="container_center">
	{% if gvm.auth.isAuth %}
    	{% if gvm.isMobile %} 
        <b>Mobile Device Detected</b> 
    	{% elseif gvm.isTablet %} 
        <b>Tablet Device Detected</b> 
        {% else %} 
        <b>Desktop Device Detected</b> 
        {% endif %}
    	
        {% if twofaenablevm.hasError %}
        <p class="error">Error Enabling Two factor authentication!</p>
        {% else %}
		<div class="container">
			<section id="content2fa">
	        <form action="{{ gvm.RR_DOC_ROOT }}/controllers/2fa-enable-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}" method="post" 
	               accept-charset="utf-8" id="login_form" name="login_form">
	        	<h1>Two-Factor Authentication</h1>
				{% include 'display-logo.twig.html' %}
				
				{% if twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::NONE') or
					  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::TOPT_REMOVE') or
					  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT') or
					  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT_REMOVE') %}

				{% if twofa_enable_ctl_action_error != constant('riprunner\\TwoFAResultType::TOPT_REMOVE') and
					  twofa_enable_ctl_action_error != constant('riprunner\\TwoFAResultType::INVALID_TOPT_REMOVE') %}
			    <div>
	            	<h3 style='color:black'>Please use an authenticator app (like Google or Yubico Authenticator) to scan this QR Code:</h3>
				</div>
				<br>
				<hr>
				<br>
			    <div>
	            	<h2>
						<!-- {{ twofaenablevm.otp_provurl }} -->
						<div id="qrcode"></div>
						<script type="text/javascript">
						new QRCode(document.getElementById("qrcode"), "{{ twofaenablevm.otp_provurl }}");
						</script>
					</h2>
				</div>
				<br>
				<hr>
				<br>
			    <div>
	            	<h3 style='color:black'>Or enter this code into your authentication app:</h3>
				</div>
			    <div>
	            	<h3 style='color:blue'>{{ twofaenablevm.otp_secret }}</h3>
				</div>
				<br>
				{% endif %}
				<hr>
				<br>
			    <div>
					{% if twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::TOPT_REMOVE') or
						  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT_REMOVE') %}
					<h3 style='color:black'><label for="twofa_key_verify">Please enter your current authentication app 2FA code to verify REMOVAL</label></h3>	  
					{% else %}
					<h3 style='color:black'><label for="twofa_key_verify">Please enter the current authentication app 2FA code for verification</label></h3>
					{% endif %}	
	            	<input type="text" name="twofa_key_verify" id="twofa_key_verify" 
	            	       placeholder="Two factor code" required 
	            		   onKeyPress="return submitenter(this,event,document.getElementById('btnVerify').onclick);" />
				</div>
				{% endif %}
				<div>
				<center>
					{% if twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT') or 
					      twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT_REMOVE') %}
					<b><font color="red">Invalid Two factor code! Please try again.</font></b>
					{% elseif twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::TOPT_ENABLED') %}
					<b><font color="green">Two factor authentication has been ENABLED for user: {{ twofaenablevm.user_id }}</font></b>
					{% elseif twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::TOPT_DISABLED') %}
					<b><font color="blue">Two factor authentication has been DISABLED for user: {{ twofaenablevm.user_id }}</font></b>
					{% endif %}
				</center>
				</div>
				<div >
					{% if twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::NONE') or
						  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::TOPT_REMOVE') or
						  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT') or
						  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT_REMOVE') %}
	            	<input type="button" id="btnCancel" class="close" value="Cancel"  onclick="self.close()" />
	            	<input type="button" id="btnVerify" 
	                		value="Verify" 
							   onclick="save_secret(document.getElementById('login_form'), '{{ twofaenablevm.user_id }}', 
							                               '{{ twofaenablevm.firehall_id }}') && 
											   formhash(document.getElementById('login_form'), '{{ twofaenablevm.otp_secret }}', true); return false;" />
					{% else %}
	            	<input type="button" id="btnCancel" class="close" value="Close" onclick="self.close()" />
					{% endif %}
				</div>
				<script type="text/javascript">

					function save_secret(form, user_id, fhid) {
						{% if twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::TOPT_REMOVE') or
							  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT_REMOVE') %}
						addformhiddenfield(form, 'form_action', 'remove-otp');
						{% else %}
						addformhiddenfield(form, 'form_action', 'save-otp');
						{% endif %}
						addformhiddenfield(form, 'edit_user_id', user_id);
						addformhiddenfield(form, 'fhid', fhid);
						return true;
					}

					window.onunload = refreshParent;
					function refreshParent() {
						window.opener.location.reload();
					}

				</script>
	        </form>
			</section>
			</div>
	        
	        <p>If you are done browsing, please <a href="{{ gvm.RR_DOC_ROOT }}/logout.php">log out</a>.</p>
	        
			<p>You are currently logged {{ gvm.auth.isAuth ? 'in' : 'out' }}.</p>
			
			{{ twofa_enable_ctl_class.forceLogoffIfRequired() }}
			
        {% endif %}
	{% else %}
		{% include 'access-denied.twig.html' %}
	{% endif %}
		</div>
	</body>
</html>