<html>
<head>
    <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/jquery-2.1.1.min.js"></script>
    <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/spin.js"></script>
	<script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/common-utils.js"></script>
	{% if gvm.isMobile %}
	<link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/callout-mobile.css?version=1" />
	{% else %}
	<link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/callout-main.css?version=1" />
	{% endif %}
</head>

{% if callout_details_vm.firehall_id is defined %}
    {% if callout_details_vm.firehall is defined and callout_details_vm.firehall is not null %}
        {% if callout_details_vm.callout_id != -1 and callout_details_vm.calloutkey_id is defined %}
        
    {% if callout_details_vm.isCalloutAuth %}
    <body class="ci_body">
        {% for row in callout_details_vm.callout_details_list %}

        {% set callout_pending = row.callout_status_completed == false and 
                                    row.callout_status_cancelled == false %}
    
        {% block callout_header_title %}
        <div style="text-align: center;">
        <table>
            <tr>
                {% block callout_header_welcome %}
                <td valign="top">
                    <span class="ci_header">Welcome {{ callout_details_vm.member_id }} - Call Details:</span>
                </td>
                {% endblock %}
                {% if callout_pending and callout_details_vm.firehall.WEBSITE.STREAM_AUDIO_ENABLED == true %}
                {% block callout_audio_stream %}
                <td valign="top">
                    {% if gvm.isMobile and callout_details_vm.firehall.WEBSITE.STREAM_MOBILE == true %}
                    <iframe src="{{ callout_details_vm.firehall.WEBSITE.STREAM_URL }}" frameborder="0" allowtransparency="true" style="width: 100%; min-height: 50px; border: 0;"></iframe>
                    {% elseif gvm.isMobile == false and callout_details_vm.firehall.WEBSITE.STREAM_DESKTOP == true %}
                    <iframe src="{{ callout_details_vm.firehall.WEBSITE.STREAM_URL }}" frameborder="0" allowtransparency="true" style="width: 100%; min-height: 50px; border: 0;"></iframe>
                    {% endif %}
                </td>
                {% endblock %}
                {% endif %}
            </tr>
        </table>
        </div>
        {% endblock %}

        {% endfor %}
    {% else %}
    <body class="ci_body_error">
    <h2><b>Invalid Auth.</b></h2>
    
    {% endif %}
             
    {% else %}
    <body class="ci_body_error">
    <h2><b>Invalid Request(1)</b></h2>
           
        {% endif %}
    {% else %}
    <body class="ci_body_error">
    <h2><b>Invalid Request(2)</b></h2>
    
        <div id="error">
            <h2>
            <b><font color="white">ERROR loading page, identifier not found!</font></b>
            </h2>
        </div>
    {% endif %}
{% else %}
    <body class="ci_body_error">
    <h2><b>Invalid Request(3)</b></h2>
    <div id="error">
        <h2>
        <b><font color="white">ERROR loading page, invalid identifier!</font></b>
        </h2>
    </div>
{% endif %}

</body>
</html>