<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Secure Login: Protected Page</title>
        {% if gvm.isMobile %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}styles/mobile.css?version=1" />
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}styles/table-styles-mobile.css" />
        {% else %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}styles/main.css?version=1" />
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}styles/table-styles.css" />
        {% endif %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}styles/freeze-header.css" />
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}js/forms.js"></script>
    </head>
    <body>
        <div class="container_center">
        {% if gvm.auth.isAuth and (gvm.auth.isAdmin) %} 
                
            {% include 'user-welcome.twig.html' %}
            {% include 'live-callout-warning.twig.html' %}
            
            <input type="hidden" id="se" name="se" value="true"/>
            
            <div class="menudiv_wrapper">
              <nav class="vertical">
                <ul>
                  <li>
                    <label for="main_page">Return to ..</label>
                    <input type="radio" name="verticalMenu" id="main_page" />
                    <div>
                      <ul>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}controllers/main-menu-controller.php">Main Menu</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <label for="logout">Exit</label>
                    <input type="radio" name="verticalMenu" id="logout" />
                    <div>
                      <ul>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}logout.php">Logout</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>

            
            <form action="{{ gvm.RR_DOC_ROOT }}controllers/callout-status-controller.php" 
                  method="post" name="status_edit_form">
   
            <center>
            {% if statussmenu_ctl_action_error == 100 %}
            <b><font color="red">Invalid password! Passwords must match and be at least 5 characters.</font></b>
            {% elseif statussmenu_ctl_action_error == 101 %}
            <b><font color="red">You must enter a Firehall Id</font></b>
            {% elseif statussmenu_ctl_action_error == 102 %}
            <b><font color="red">You must enter a status Id</font></b>            
            {% endif %}

            <table id="box-table-a">
                <thead>
                    <tr>
                    <th scope="col">Record Id</th>
                    <th scope="col" class="column_nowrap">Status Name</th>
                    <th scope="col" class="column_nowrap">Status Display Name</th>
                    <th scope="col">Is Responding</th>
                    <th scope="col">Not Responding</th>
                    <th scope="col">Call Cancelled</th>
                    <th scope="col">Call Completed</th>
                    <th scope="col">On Standby</th>
                    <th scope="col">Default Response</th>
                    <th scope="col">Testing</th>
                    <th scope="col">Signal All</th>
                    <th scope="col">Signal Responders</th>
                    <th scope="col">Signal Non Responders</th>
                    
                    <th scope="col">Admin Access</th>
                    <th scope="col">Responding Access</th>
                    <th scope="col">Responding for others Access</th>
                    
                    <th scope="col">Access Inclusive</th>

                    <th scope="col">User Type Admin Allowed</th>
                    <th scope="col">User Type Fire Fighter Allowed</th>
                    <th scope="col">User Type Fire Apparatus Allowed</th>
                    <th scope="col">User Type Office STaff Allowed</th>
                                        
                    <th scope="col" class="column_nowrap">Update Date/Time</th>
                    <th scope="col" colspan="15" align="Center">Modify Data</th>
                    <tr>
                </thead>

                {% if statussmenu_ctl_edit_statusid is null and not statussmenu_ctl_insert_new %}
                <tr>
                    <td colspan="28">
                        <input type="button" value="Add New" onclick="edit_status(this.form, -1);" />
                    </td>
                </tr>
                {% endif %}

                {% if statussmenu_ctl_insert_new is defined and statussmenu_ctl_insert_new %}
                <tr>
                <td>
                NEW
                </td>

                <td class="column_nowrap">
                    <input id="edit_name" name="edit_name" type="input" value=""/>
                </td>
                <td class="column_nowrap">
                    <input id="edit_display_name" name="edit_display_name" type="input" value=""/>
                </td>

                <td>
                    <input id="edit_is_responding" name="edit_is_responding" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_not_responding" name="edit_not_responding" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_cancelled" name="edit_cancelled" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_completed" name="edit_completed" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_standby" name="edit_standby" type="checkbox"/>
                </td>
                
                <td>
                    <input id="edit_default" name="edit_default" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_testing" name="edit_testing"  type="checkbox"/>
                </td>
                <td>
                    <input id="edit_signal_all" name="edit_signal_all"  type="checkbox"/>
                </td>
                <td>
                    <input id="edit_signal_responders" name="edit_signal_responders" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_signal_nonresponders" name="edit_signal_nonresponders" type="checkbox"/>
                </td>
                
                <td>
                    <input id="edit_admin_access" name="edit_admin_access" type="checkbox"/>
                </td>
                
                <td>
                    <input id="edit_respond_self_access" name="edit_respond_self_access" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_respond_others_access" name="edit_respond_others_access" type="checkbox"/>
                </td>
                
                <td>
                    <input id="edit_access_flags_inclusive" name="edit_access_flags_inclusive" type="checkbox"/>
                </td>
                
                <td>
                    <input id="edit_usertype_admin" name="edit_usertype_admin" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_usertype_fire_fighter" name="edit_usertype_fire_fighter" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_usertype_fire_apparatus" name="edit_usertype_fire_apparatus" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_usertype_office_staff" name="edit_usertype_office_staff" type="checkbox"/>
                </td>

                <td colspan="3">
                <input type="button" value="Save" 
                       onclick="save_status(this.form, -1);" />
                
                <input type="button" value="Cancel" 
                       onclick="window.location.href='{{ gvm.RR_DOC_ROOT }}controllers/callout-status-controller.php'; return false;" />
                </td>
                </tr>
                {% endif %}

            
            {% for status in calloutstatus_vm.status_list %}
                {% set edit_current_row = 
                   (statussmenu_ctl_edit_statusid is defined and 
                    statussmenu_ctl_edit_statusid == status.id) %}
                <tr>
                <td>
                {{ status.id }}
                </td>
                
                <td class="column_nowrap">
                {% if edit_current_row %}
                    <input id="edit_name" name="edit_name" type="input" value="{{ status.name }}"/>
                {% else %}
                    {{ status.name }}
                {% endif %}
                </td>
                <td class="column_nowrap">
                    {% if edit_current_row %}
                    <input id="edit_display_name" name="edit_display_name" type="input" value="{{ status.display_name }}"/>
                {% else %}
                    {{ status.display_name }}
                {% endif %}
                </td>

                <td>
                {% if edit_current_row %}
                    <input id="edit_is_responding" name="edit_is_responding" 
                           type="checkbox" {{ status.statusDef.IsResponding() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsResponding() ? 'yes' : 'no' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_not_responding" name="edit_not_responding" 
                           type="checkbox" {{ status.statusDef.IsNotResponding() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsNotResponding() ? 'yes' : 'no' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_cancelled" name="edit_cancelled" 
                           type="checkbox" {{ status.statusDef.IsCancelled() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsCancelled() ? 'yes' : 'no' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_completed" name="edit_completed" 
                           type="checkbox" {{ status.statusDef.IsCompleted() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsCompleted() ? 'yes' : 'no' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_standby" name="edit_standby" 
                           type="checkbox" {{ status.statusDef.IsStandby() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsStandby() ? 'yes' : 'no' }}
                {% endif %}
                </td>
                
                
                <td>
                {% if edit_current_row %}
                    <input id="edit_default" name="edit_default" 
                           type="checkbox" {{ status.statusDef.IsDefaultResponse() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsDefaultResponse() ? 'yes' : 'no' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_testing" name="edit_testing" 
                           type="checkbox" {{ status.statusDef.IsTesting() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsTesting() ? 'yes' : 'no' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_signal_all" name="edit_signal_all" 
                           type="checkbox" {{ status.statusDef.IsSignalAll() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsSignalAll() ? 'yes' : 'no' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_signal_responders" name="edit_signal_responders" 
                           type="checkbox" {{ status.statusDef.IsSignalResponders() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsSignalResponders() ? 'yes' : 'no' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_signal_nonresponders" name="edit_signal_nonresponders" 
                           type="checkbox" {{ status.statusDef.IsSignalNonResponders() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsSignalNonResponders() ? 'yes' : 'no' }}
                {% endif %}
                </td>
                
                <td>
                {% if edit_current_row %}
                    <input id="edit_admin_access" name="edit_admin_access" 
                           type="checkbox" {{ status.access_admin ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.access_admin ? 'yes' : 'no' }}
                {% endif %}
                </td>
                
                <td>
                {% if edit_current_row %}
                    <input id="edit_respond_self_access" name="edit_respond_self_access" 
                           type="checkbox" {{ status.access_respond_self ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.access_respond_self ? 'yes' : 'no' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_respond_others_access" name="edit_respond_others_access" 
                           type="checkbox" {{ status.access_respond_others ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.access_respond_others ? 'yes' : 'no' }}
                {% endif %}
                </td>
                
                <td>
                {% if edit_current_row %}
                    <input id="edit_access_flags_inclusive" name="edit_access_flags_inclusive" 
                           type="checkbox" {{ status.access_flags_inclusive ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.access_flags_inclusive ? 'yes' : 'no' }}
                {% endif %}
                </td>
                
                <td>
                {% if edit_current_row %}
                    <input id="edit_usertype_admin" name="edit_usertype_admin" 
                           type="checkbox" {{ status.usertype_admin ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.usertype_admin ? 'yes' : 'no' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_usertype_fire_fighter" name="edit_usertype_fire_fighter" 
                           type="checkbox" {{ status.usertype_fire_fighter ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.usertype_fire_fighter ? 'yes' : 'no' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_usertype_fire_apparatus" name="edit_usertype_fire_apparatus" 
                           type="checkbox" {{ status.usertype_fire_apparatus ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.usertype_fire_apparatus ? 'yes' : 'no' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_usertype_office_staff" name="edit_usertype_office_staff" 
                           type="checkbox" {{ status.usertype_office_staff ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.usertype_office_staff ? 'yes' : 'no' }}
                {% endif %}
                </td>




                <td class="column_nowrap">
                   {{ status.updatetime }}
                </td>
                
                {% if edit_current_row %}
                    <td colspan="2">
                    <input type="button" value="Save" 
                           onclick="save_status(this.form, {{ status.id }});" />
                    
                    <input type="button" value="Cancel" 
                           onclick="window.location.href='{{ gvm.RR_DOC_ROOT }}controllers/callout-status-controller.php'; return false;" />
                    </td>
                {% else %}
                    <td>
                    <input type="button" value="Edit" 
                           onclick="edit_status(this.form, {{ status.id }});" />
                    </td>
                    <td>
                    <input type="button" value="Delete" 
                           onclick="return delete_status(this.form, {{ status.id }},'{{ status.display_name }}');" />
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
            
            </table>
            </center>
            </form>
            
<script type="text/javascript">
    function edit_status(form, status_id) {
       addformhiddenfield(form, 'form_action', 'edit');
       addformhiddenfield(form, 'edit_status_id', status_id);
       
       form.submit();
    }

    function save_status(form, status_id) {
       addformhiddenfield(form, 'form_action', 'save');
       addformhiddenfield(form, 'edit_status_id', status_id);
       
       form.submit();
    }

    function delete_status(form, status_id, status_id_name) {
        if(confirm('Confirm DELETE for status: ' + status_id_name + '?')) {
            addformhiddenfield(form, 'form_action', 'delete');
            addformhiddenfield(form, 'edit_status_id', status_id);
            
            form.submit();
            return true;
        }
        return false;
    }

    function send_msg(form, msg_type) {
       addformhiddenfield(form, 'form_action', msg_type);
       form.submit();
    }

    function toggleVisibility(itemId) {
        var item = document.getElementById(itemId);
        if(item.style.display == "none") {
            item.style.display="block";
        }
        else {
            item.style.display="none";
        }
    }
    
    var item = document.getElementById("edit_firehall_id");
    if(item) {
        item.focus();
    }
</script>
        {% else %}
            {% include 'access-denied.twig.html' %}
        {% endif %}
        </div>
    </body>
</html>