{% if callout_tracking_vm.firehall_id is not null and 
      (callout_tracking_vm.user_id is not null or 
       callout_tracking_vm.tracking_action is not null) and 
      (callout_tracking_vm.calloutkey_id is not null or 
       (callout_tracking_vm.has_user_password is not null and 
        callout_tracking_vm.user_lat is not null and 
        callout_tracking_vm.user_long is not null)) %}

    {% if callout_tracking_vm.firehall is not null %}
        {% if callout_tracking_vm.tracking_action is not null %}
            {% if callout_tracking_vm.tracking_action == 'mr' %}
<!DOCTYPE html>
<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps - Callout Responders GEO Locations</title> 

  <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="{{ gvm.RR_DOC_ROOT }}/js/markerwithlabel_packed.js"></script>
  <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/jquery-2.1.1.min.js"></script>
  <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/spin.js"></script>
  <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/common-utils.js"></script>
</head> 
<body>
  <form id="call_tracking" action="{{ gvm.RR_DOC_ROOT }}/ct/fhid={{ callout_tracking_vm.firehall_id }}&cid={{ callout_tracking_vm.callout_id }}&delay=45&ta=mr&ckid={{ callout_tracking_vm.calloutkey_id }}" 
          method="POST">

    {% if callout_tracking_vm.responding_people == '' %}
        <div id="call_tracking_empty" style="font-size: 25px; color:cyan">No members have responded yet.</div>
    {% endif %}
    {% if callout_tracking_vm.callout_in_progress %}
        {% if callout_tracking_vm.firehall.MOBILE.MOBILE_TRACKING_ENABLED %}
            <div id="call_tracking_refresh_counter" style="font-size: 25px; color:cyan"></div>
        {% endif %}
        <INPUT TYPE="submit" VALUE="Refresh Map Now'" 
               style="font-size: 25px; background-color:yellow" />
    {% else %}
        <div id="call_tracking_refresh_counter" style="font-size: 25px; color:cyan"><h2>Call is: {{ callout_tracking_vm.callout_status_desc }}</h2></div>
    {% endif %}
  </form>
  <div id="map" style="width: 1024px; height: 768px;"></div>

  <script type="text/javascript">
    // Define your locations: HTML content for the info window, latitude, longitude
    var locations = [{{ callout_tracking_vm.responding_people|raw }}];
    
    // Setup the different icons and shadows
    var iconURLPrefix = 'ss.google.com/mapfiles/ms/icons/';
    
    var icons = [{{ callout_tracking_vm.responding_people_icons|raw }}];
    
    var icons_length = icons.length;
        
    var shadow = {
      anchor: new google.maps.Point(15,33),
      url: iconURLPrefix + 'msmarker.shadow.png'
    };

    var map = new google.maps.Map(document.getElementById('map'), {
      
      center: new google.maps.LatLng({{ callout_tracking_vm.firehall.WEBSITE.FIREHALL_GEO_COORD_LATITUDE }}, {{ callout_tracking_vm.firehall.WEBSITE.FIREHALL_GEO_COORD_LONGITUDE }}),
	      mapTypeId: google.maps.MapTypeId.ROADMAP,
	      mapTypeControl: true,
	      streetViewControl: false,
	      panControl: true,
	      zoom: 15,
	      zoomControl: true,
	      zoomControlOptions: {
	       position: google.maps.ControlPosition.LEFT_BOTTOM
	      }
    });

    var infowindow = new google.maps.InfoWindow({
      maxWidth: 160
    });

    var marker;
    var markers = new Array();
    
    var iconCounter = 0;
    
    // Add the markers and infowindows to the map
    for (var i = 0; i < locations.length; i++) {  
      //marker = new google.maps.Marker({
      marker = new MarkerWithLabel({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        icon : icons[iconCounter],
        title: locations[i][0],
        labelContent: locations[i][0],
        shadow: shadow
      });

      markers.push(marker);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent('<h4>' + locations[i][0] + '</h4>');
          infowindow.open(map, marker);
        }
      })(marker, i));
      
      iconCounter++;
      // We only have a limited number of possible icon colors, so we may have to restart the counter
      if(iconCounter >= icons_length){
        iconCounter = 0;
      }
    }

    function AutoCenter() {
      //  Create a new viewpoint bound
      var bounds = new google.maps.LatLngBounds();
      //  Go through each...
      $.each(markers, function (index, marker) {
        bounds.extend(marker.position);
      });
      //  Fit these bounds to the map
      map.fitBounds(bounds);
    }
    AutoCenter();

    {% if callout_tracking_vm.firehall.MOBILE.MOBILE_TRACKING_ENABLED and 
    	callout_tracking_vm.callout_in_progress %}
    
    // Trigger countdown for refresh of page
    var delay_seconds=45;
    var trackResponderTimer=null;
    var trackResponderTimerCounter=null;
    
    function trackResponder() {

        window.clearInterval(trackResponderTimerCounter);
        var div = document.getElementById("call_tracking_refresh_counter");
        div.innerHTML="<b>Refreshing map now!</b>";
        var form = document.getElementById("call_tracking");
        form.submit();
    }

    function trackResponderCounter() {
    
        var div = document.getElementById("call_tracking_refresh_counter");
        div.innerHTML="<b>Refreshing Map in " + delay_seconds + " seconds.</b>";
        delay_seconds -= 1;
    }

    setInterval(function () {trackResponder()}, delay_seconds * 1000);
    setInterval(function () {trackResponderCounter()}, 1000);

    {% endif %}
    
  </script> 
</body>
</html>
            {% endif%}
        {% else %}
    
            {% if callout_tracking_vm.user_authenticated %}
                {% if callout_tracking_vm.callout_in_progress %}
                    {% if callout_tracking_vm.user_lat is not null and
                          callout_tracking_vm.user_long is not null %}
                        {{ callout_tracking_vm.track_geo }}                    
                    {% endif %}
                    
                    {% if callout_tracking_vm.tracking_delay is defined and callout_tracking_vm.tracking_delay > 0 %}
                        <html>
                        <head>
                            <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/jquery-2.1.1.min.js"></script>
                            <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/spin.js"></script>
                            <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/common-utils.js"></script>
                        </head>
                        <body>
                        

                        <div id="call_tracking_response_counter" style="font-size: 25px; color:cyan"></div>
                        <form id="call_tracking_response" action="{{ gvm.RR_DOC_ROOT }}/ct/fhid={{ callout_tracking_vm.firehall_id }}&cid={{ callout_tracking_vm.callout_id }}&delay=45&uid={{ callout_tracking_vm.user_id }}&ckid={{ callout_tracking_vm.calloutkey_id }}" 
                              method="POST" onsubmit="return appendGeoCoordinates(document.getElementById('call_tracking_response'));">
                                <INPUT TYPE="submit" VALUE="GEO Track Now - {{ callout_tracking_vm.user_id }}" 
                                       style="font-size: 25px; background-color:yellow" />
                        </form>
                        
                        <script type="text/javascript">
                        var delay_seconds={{ callout_tracking_vm.tracking_delay }};
                        var trackResponderTimer=null;
                        var trackResponderTimerCounter=null;
                        function trackResponder() {
                          //debugger;
                          window.clearInterval(trackResponderTimerCounter);
                          var div1 = document.getElementById("call_tracking_response_counter");
                          //if(div1) {
	                          div1.innerHTML="<b>Tracking GEO coords now!</b>";
	                          var form1 = document.getElementById("call_tracking_response");
	                          appendGeoCoordinates(form1);
	                          //  form.submit();
	                      //}
                        }
                        function trackResponderCounter() {
                        // debugger;
                          var div1 = document.getElementById("call_tracking_response_counter");
                          //if(div1) {
                        	  div1.innerHTML="<b>Tracking GEO in " + delay_seconds + " secs.</b>";
                        	  delay_seconds -= 1;
                          //}
                        }
                        
                        //$html_output .= '  debugger;
                        //$( document ).ready(function() {
                            setInterval(function () {trackResponder()}, {{ callout_tracking_vm.tracking_delay }}000);
                            setInterval(function () {trackResponderCounter()}, 1000);
                        //});
                        </script>
                        
                        </body>
                        </html>
                    {% else %}
                        OK={{ callout_tracking_vm.callout_tracking_id }}|{{ callout_tracking_vm.responding_people_geo_list }}|
                    {% endif %}
                {% else %}
                    {% if callout_tracking_vm.tracking_delay is defined and callout_tracking_vm.tracking_delay > 0 %}
                        <html>
                            <head>
                            </head>
                        <body>
                            <div id="call_tracking_response_counter" style="font-size: 25px; color:cyan">
                            <b>Finished tracking responder: {{ callout_tracking_vm.user_id }}</b>
                            </div>
                            <script type="text/javascript">
                                window.close();
                            </script>
                        </body>
                        </html>
                    {% else %}
                        CALLOUT_ENDED={{ callout_tracking_vm.callout_status }}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
