<html>
<head>
    <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/jquery-2.1.1.min.js"></script>
    <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/spin.js"></script>
	<script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/common-utils.js"></script>
	{% if gvm.isMobile %}
	<link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/callout-mobile.css?version=1" />
	{% else %}
	<link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/callout-main.css?version=1" />
	{% endif %}
</head>

{% if callout_details_vm.firehall_id is defined %}
    {% if callout_details_vm.firehall is defined and callout_details_vm.firehall is not null %}
        {% if callout_details_vm.callout_id != -1 and callout_details_vm.calloutkey_id is defined %}
        
    {% if callout_details_vm.isCalloutAuth %}
    <body class="ci_body">
        <iframe id="callout-audio" style="border-style: none; border-color: inherit; border-width: 0px; height:50px; width:100%;" scrolling="no" src="{{ gvm.RR_DOC_ROOT }}/controllers/callout-details-controller.php?special_view=callout-audio&cid={{ callout_details_vm.callout_id }}&fhid={{ callout_details_vm.firehall_id }}&ckid={{ callout_details_vm.calloutkey_id }}"></iframe>
        <iframe id="callout-detail" style="border-style: none; border-color: inherit; border-width: 0px; height:100%; width:100%;" src="{{ gvm.RR_DOC_ROOT }}/controllers/callout-details-controller.php?special_view=callout-details&cid={{ callout_details_vm.callout_id }}&fhid={{ callout_details_vm.firehall_id }}&ckid={{ callout_details_vm.calloutkey_id }}"></iframe>
    {% else %}
    <body class="ci_body_error">
    <h2><b>Invalid Auth.</b></h2>
    
    {% endif %}
             
    {% else %}
    <body class="ci_body_error">
    <h2><b>Invalid Request(1)</b></h2>
           
        {% endif %}
    {% else %}
    <body class="ci_body_error">
    <h2><b>Invalid Request(2)</b></h2>
    
        <div id="error">
            <h2>
            <b><font color="white">ERROR loading page, identifier not found!</font></b>
            </h2>
        </div>
    {% endif %}
{% else %}
    <body class="ci_body_error">
    <h2><b>Invalid Request(3)</b></h2>
    <div id="error">
        <h2>
        <b><font color="white">ERROR loading page, invalid identifier!</font></b>
        </h2>
    </div>
{% endif %}

</body>
</html>
