<html>
<head>
    <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/jquery-2.1.1.min.js"></script>
    <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/spin.js"></script>
	<script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/common-utils.js"></script>
	{% if gvm.isMobile %}
	<link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/callout-mobile.css?version=1" />
	{% else %}
	<link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/callout-main.css?version=1" />
	{% endif %}
</head>

{% if callout_details_vm.firehall_id is defined %}
    {% if callout_details_vm.firehall is defined and callout_details_vm.firehall is not null %}
        {% if callout_details_vm.callout_id != -1 and callout_details_vm.calloutkey_id is defined %}
        
    {% if callout_details_vm.isCalloutAuth %}
    <body class="ci_body" onload="checkIframesLoaded();">
        <iframe id="callout-audio" style="border-style: none; border-color: inherit; border-width: 0px; height:50px; width:100%;" 
                scrolling="no" src=""></iframe>
        <iframe id="callout-detail" style="border-style: none; border-color: inherit; border-width: 0px; height:100%; width:100%;" 
                src=""></iframe>
        <script>

        var frame1 = {
            id: 1,
            loaded: false
        };
        var frame2 = {
            id: 2,
            loaded: false
        };

        function reloadIframe(iframeName, frame, url) {
            //debugger;
            if(frame.loaded == false) {
                //alert("IFrame needs to be reloaded: "+iframeName);
                var iframe = document.getElementById(iframeName);
                var tmp_src = iframe.src; 
                iframe.src = ''; 
                iframe.src = tmp_src;
                checkIframeLoaded(iframeName, frame, url);
            }
        }
        function checkIframeLoaded(iframeName, frame, url) {
            // Get a handle to the iframe element
            //debugger;
            var iframe = document.getElementById(iframeName);
            var iframeDoc = iframe.contentDocument || iframe.contentWindow.document;
        
            // Check if loading is complete
            if (  iframeDoc.readyState  == 'complete' ) {
                //debugger;
                //iframe.contentWindow.alert("Hello");
                iframe.onload = function() {
                    //debugger;
                    frame.loaded = true;
                    //alert("IFrame loaded: "+iframeName);
                };
                // The loading is complete, call the function we want executed once the iframe is loaded
                //afterLoading();
                //return;
            }
        
            // If we are here, it is not loaded. Set things up so we check the status again in 100 milliseconds
            window.setTimeout(function() {
                reloadIframe(iframeName, frame, url);
            }, 20000)

            iframe.src = url;
        }
        function checkIframesLoaded() {
            checkIframeLoaded('callout-audio', frame1, '{{ gvm.RR_DOC_ROOT }}/ci/special_view=callout-audio&cid={{ callout_details_vm.callout_id }}&fhid={{ callout_details_vm.firehall_id }}&ckid={{ callout_details_vm.calloutkey_id }}{% if callout_details_vm.member_id is not null %}&member_id={{ callout_details_vm.member_id }}{% endif %}');
            checkIframeLoaded('callout-detail', frame2, '{{ gvm.RR_DOC_ROOT }}/ci/special_view=callout-details&cid={{ callout_details_vm.callout_id }}&fhid={{ callout_details_vm.firehall_id }}&ckid={{ callout_details_vm.calloutkey_id }}{% if callout_details_vm.member_id is not null %}&member_id={{ callout_details_vm.member_id }}{% endif %}');
        }
        </script>
    {% else %}
    <body class="ci_body_error">
    <h2><b>Invalid Auth. cd1</b></h2>
    
    {% endif %}
             
    {% else %}
    <body class="ci_body_error">
    <h2><b>Invalid Request(1) cd2</b></h2>
           
        {% endif %}
    {% else %}
    <body class="ci_body_error">
    <h2><b>Invalid Request(2) cd3</b></h2>
    
        <div id="error">
            <h2>
            <b><font color="white">ERROR loading page, identifier not found!</font></b>
            </h2>
        </div>
    {% endif %}
{% else %}
    <body class="ci_body_error">
    <h2><b>Invalid Request(3) cd4</b></h2>
    <div id="error">
        <h2>
        <b><font color="white">ERROR loading page, invalid identifier!</font></b>
        </h2>
    </div>
{% endif %}

</body>
</html>
