{% if response_vm.firehall_id is not null and response_vm.callout_id is not null and 
      response_vm.user_id is not null and 
      (response_vm.calloutkey_id is not null or
       (response_vm.has_user_password and response_vm.user_lat is not null and
        response_vm.user_long is not null and response_vm.user_status is not null)) %}
    {% if response_vm.firehall is not null %}
        {% if response_vm.user_authenticated %}
            {% if response_vm.has_user_password == false and response_vm.calloutkey_id is not null %}
<html>
<head>
<script type="text/javascript">
    var result = "{{ response_vm.respond_result|escape('js') }}";
    {% set redirect_url = gvm.RR_DOC_ROOT ~ '/ci/special_view=callout-details&' ~ 
        'fhid=' ~ response_vm.firehall_id ~ '&cid=' ~ response_vm.callout_id ~
        '&ckid=' ~ response_vm.calloutkey_id ~
        (response_vm.member_id is not null ? '&member_id=' ~ response_vm.member_id : '') ~
        '&' ~ gvm.RR_JWT_TOKEN_PARAM %}
                     
    var redir_url = "{{ redirect_url|raw }}";
    try {
        window.location.replace(redir_url);
    }
    catch(e) {
    	try {
    	   window.location.href = redir_url;
    	}
    	catch(e) {
    		window.location = redir_url;
    	}
    }
</script>
</head>
<body>
<b>Redirecting...<a href="{{ redirect_url|raw }}">Click here if not redirected in 10 seconds.</a></b>
</body>
</html>            
            {% else %}
{{ response_vm.respond_result|escape('html') }}
            {% endif %}
        {% else %}
        ERROR3  
        {% endif %}
    {% else %}
    ERROR2
    {% endif %}
{% else %}
ERROR1    
{% endif %}