
	<div class="h_cssmenu">
	<ul id="h_cssmenu" class=h_cssmenu>
	<li><a href="{{ gvm.RR_DOC_ROOT }}controllers/main-menu-controller.php">Home</a></li>
	{% if gvm.auth.isAdmin %}
	<li><a href="#" >Admin</a> 
		<ul>
			<li><a href="{{ gvm.RR_DOC_ROOT }}controllers/users-menu-controller.php">User Accounts</a></li>
			<li><a href="{{ gvm.RR_DOC_ROOT }}controllers/system-info-controller.php">System Info</a></li>
			<li><a href="{{ gvm.RR_DOC_ROOT }}controllers/view-logs-controller.php">View Logs</a></li>
			<li><a href="{{ gvm.RR_DOC_ROOT }}controllers/system-config-controller.php">System Config</a></li>
			<li><a href="{{ gvm.RR_DOC_ROOT }}controllers/main-menu-controller.php?clearCache=true">Clear Cache</a></li>
		</ul>
	</li>
	{% endif %}
	<li><a href="#">Callouts</a>
		<ul>
			<li><a href="{{ gvm.RR_DOC_ROOT }}controllers/callout-history-controller.php">Callout History</a></li>
			<li><a href="{{ gvm.RR_DOC_ROOT }}controllers/callout-monitor-controller.php?server_mode=false">Live Monitor</a></li>
		</ul>
	</li>
	<li><a href="{{ gvm.RR_DOC_ROOT }}controllers/reports-charts-controller.php">Reports</a></li>

	{% if gvm.isMobile %}
	<li><a href="#">Android</a>
		<ul>
			<li><a href="{{ gvm.RR_DOC_ROOT }}apk/RipRunnerApp.apk">Install App</a></li>
		</ul>
	</li>
	{% endif %}
	<li><a href="{{ gvm.RR_DOC_ROOT }}logout.php">Logout</a></li>
	</ul>
</div>
<br />
