<script type="text/javascript" src="{{ gvm.RR_DOC_ROOT }}js/savemapview.js"></script>

{% if gvm.isMobile %}
<table width="{{ gvm.JSMAP_MOBILEWIDTH }}" align="center">
{% else %}
<table width="{{ gvm.JSMAP_WIDTH }}" align="center">
{% endif %}
<tr><td>
{% if gvm.isMobile %}
     <div class="google-maps" id="map" style="height: {{ gvm.JSMAP_MOBILEHEIGHT }};"></div> 
{% else %}
     <div class="google-maps" id="map" style="height: {{ gvm.JSMAP_HEIGHT}};"></div> 
{% endif %}
    <div id="map-canvas"></div>
    <div id="legend"></div>
</td></tr></table>
   <script type="text/javascript">
var riprunner_js_map = null;

{% if (gvm.isMobile and callout_details_vm.MOBILE_LG_ZOOM == 'yes') or 
  (not gvm.isMobile and callout_details_vm.DESKTOP_LG_ZOOM == 'yes') %}
function ZoomControl(controlDiv, map) {
    // Creating divs & styles for custom zoom control
    controlDiv.style.padding = '5px';
    // Set CSS for the control wrapper
    var controlWrapper = document.createElement('div');
    controlWrapper.style.borderStyle = 'solid';
    controlWrapper.style.borderColor = 'black';
    controlWrapper.style.borderWidth = '1px';  
    controlWrapper.style.cursor = 'pointer';
    controlWrapper.style.backgroundColor = 'white';
    controlWrapper.style.opacity = '0.5';
    controlWrapper.style.width = '128px'; 
    controlWrapper.style.height = '256px';
    controlDiv.appendChild(controlWrapper);
    // Set CSS for the zoomIn
    var zoomInButton = document.createElement('div');
    zoomInButton.style.width = '128px'; 
    zoomInButton.style.height = '128px';
    zoomInButton.style.backgroundImage = 'url("{{ gvm.RR_DOC_ROOT }}images/plus.png")';
    controlWrapper.appendChild(zoomInButton);
    // Set CSS for the zoomOut
    var zoomOutButton = document.createElement('div');
    zoomOutButton.style.width = '128px'; 
    zoomOutButton.style.height = '128px';
    zoomOutButton.style.backgroundImage = 'url("{{ gvm.RR_DOC_ROOT }}images/minus.png")';
    controlWrapper.appendChild(zoomOutButton);
    // -----------------------------------------------------------------------------
    // Setup the click event listener - zoomIn
    google.maps.event.addDomListener(zoomInButton, 'click', function() {
    map.setZoom(map.getZoom() + 1);
    });
    // -----------------------------------------------------------------------------
    // Setup the click event listener - zoomOut
    google.maps.event.addDomListener(zoomOutButton, 'click', function() {
    map.setZoom(map.getZoom() - 1);
    });  
    // -----------------------------------------------------------------------------
}
{% endif %}

function map_initialize() {
    //debugger;

    // Load js files that need google imports
    var js = document.createElement("script");
    js.type = "text/javascript";
    js.src = "{{ gvm.RR_DOC_ROOT }}js/markerwithlabel.js";
    document.body.appendChild(js);

    var directionsService = new google.maps.DirectionsService();
    var directionsDisplay = new google.maps.DirectionsRenderer();
	
    {% block map_water_sources %}
    var waterTank = [
        //
        // Set water sources here
        //
        //['LOCATION1 - WATER AMOUNT', lattitude, longtitude, 1],
        //['LOCATION2 - WATER AMOUNT', lattitude, longtitude, 2],
    ];
    {% endblock %}
	
    {% block map_hydrants %}
    var fireHydrant = [
        //    ["Graves Road Hydrant", 53.920154, -122.641328, 1],
        //    ["Lheidli Tenneh Hydrant 1", 54.006149, -122.618457, 2],
        //    ["Lheidli Tenneh Hydrant 2", 54.006999, -122.617446, 3],
        //    ["Lheidli Tenneh Hydrant 4", 54.008627, -122.613950, 4]
    ];
    {% endblock %}

    {% block map_firehalls %}
    // Set other RDFFG Firehall locations here
    var fireHalls = [
           //["PILOT MTN FIRE DEPARTMENT", 54.011258, -122.854466, 5],
           //["SALMON VALLEY FIRE DEPARTMENT", 54.091680, -122.653749, 7]
    ];
    {% endblock %}

    {% block map_legend_icons %}
    // Create Icons for Legend here
    var icons = {
         waterTank: { name: 'Water Source', icon: '{{ gvm.RR_DOC_ROOT }}images/icons/water.png' },
         Origin_GPS: { name: 'Origin GPS', icon: '{{ gvm.RR_DOC_ROOT }}images/icons/phone.png' },
         FireHall: { name: 'Fire Station', icon: '{{ gvm.RR_DOC_ROOT }}images/icons/firedept.png' },
         waterHydrant: { name: 'Fire Hydrant', icon: '{{ gvm.RR_DOC_ROOT }}images/icons/redhydrant_small.png' },
         responderToHall: { name: 'Responder', icon: '{{ gvm.RR_DOC_ROOT }}images/icons/respond_to_hall.png' }
    };
    {% endblock %}

    //debugger;
    var initialZoom = true;

    // -----------------------------------------------------------------------------
    // Create the actual map here
    var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14
            ,center: new google.maps.LatLng({{ CALLORIGIN }})
            ,streetViewControl: true
            ,draggable: true
            ,scrollwheel: true
            ,overviewMapControl:true
            ,panControl: true
            ,disableDefaultUI: false
            ,zoomControl: false
            ,mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                position: google.maps.ControlPosition.TOP_RIGHT,
                mapTypeIds: [
                    google.maps.MapTypeId.HYBRID,
                    google.maps.MapTypeId.ROADMAP
              	]
            }
{% if (gvm.isMobile and callout_details_vm.MOBILE_LG_ZOOM == 'no') or 
      (not gvm.isMobile and callout_details_vm.DESKTOP_LG_ZOOM == 'no') %}
            ,zoomControl: true
            ,zoomControlOptions: {
                position: google.maps.ControlPosition.RIGHT_TOP,
                style: google.maps.ZoomControlStyle.LARGE
            }
{% endif %}
    });
    //------------------------------------------------------------------------------
    
    //debugger;
    // -----------------------------------------------------------------------------
    // Create the driving route to the 911 call
    directionsDisplay.setMap(map);
    var request = {
        destination: "{{ DESTINATION }}", 
        origin: "{{ FDLOCATION }}",
        travelMode: google.maps.DirectionsTravelMode.DRIVING
    };
    // -----------------------------------------------------------------------------
    // Create the Marker for the Call Origin - obtained by FOCC GPS pull or CAD property info
    var callOriginMarker = new google.maps.Marker({
        position: new google.maps.LatLng({{ CALLORIGIN }}), 
        title: "CALL ORIGIN",
        clickable: true,
        icon: '{{ gvm.RR_DOC_ROOT }}images/icons/phone.png',
        map: map
    });
    // -----------------------------------------------------------------------------
    // Create and place markers for waterTanks
    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    for (i = 0; i < waterTank.length; i++) {
        marker = new google.maps.Marker({
        position: new google.maps.LatLng(waterTank[i][1], waterTank[i][2]),
        icon: '{{ gvm.RR_DOC_ROOT }}images/icons/water.png',
        map: map
        });
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(waterTank[i][0]);
                infowindow.open(map, marker);
            }
        })
        (marker, i));
    }
    // -----------------------------------------------------------------------------
    // Create and place markers for fireHydrant
    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    for (i = 0; i < fireHydrant.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(fireHydrant[i][1], fireHydrant[i][2]),
            icon: '{{ gvm.RR_DOC_ROOT }}images/icons/redhydrant_small.png',
            map: map
        });
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(fireHydrant[i][0]);
                infowindow.open(map, marker);
            }
        })
        (marker, i));
    }
    // -----------------------------------------------------------------------------
    // Create and place markers for Firehalls
    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    for (i = 0; i < fireHalls.length; i++) {  
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(fireHalls[i][1], fireHalls[i][2]),
            icon: '{{ gvm.RR_DOC_ROOT }}images/icons/firedept.png',
            map: map
        });
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(fireHalls[i][0]);
                infowindow.open(map, marker);
            }
        })(marker, i));
    }
    // -----------------------------------------------------------------------------
    // Create Large Zoom Controls
{% if (gvm.isMobile and callout_details_vm.MOBILE_LG_ZOOM == 'yes') or 
  (not gvm.isMobile and callout_details_vm.DESKTOP_LG_ZOOM == 'yes') %}
    var zoomControlDiv = document.createElement('div');
    var zoomControl = new ZoomControl(zoomControlDiv, map);
    zoomControlDiv.index = 1;
    map.controls[google.maps.ControlPosition.LEFT_TOP].push(zoomControlDiv);
{% endif %}
    // -----------------------------------------------------------------------------
    // Set Driving Directions
    //debugger;
    directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
        }
        // -----------------------------------------------------------------------------
        // Set map bounds here
        var boundaryLayer = new google.maps.KmlLayer({
            url: '{{ WEB_ROOT }}kml/boundaries.kml?version=1',
            preserveViewport: true,
            supressInfoWindows: true
        });
        boundaryLayer.setMap(map);
        if(marker != null) {
            marker.setMap(map);
        }

        // -----------------------------------------------------------------------------
        // Create legend for Icons
        var legend = document.getElementById('legend');
            for (var key in icons) {
            var type = icons[key];
            var name = type.name;
            var icon = type.icon;
            var div = document.createElement('div');
            div.innerHTML = '<img src="' + icon + '"> ' + name;
            legend.appendChild(div);
        }
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
    });
	// Restore previous map settings if they exist
    google.maps.event.addListener(map, 'zoom_changed', function () {
    	console.info('In zoom_changed');
        zoomChangeBoundsListener = google.maps.event.addListener(map, 'bounds_changed', function (event) {
        	console.info('In zoom_changed + bounds_changed');
        	try {
	            if (initialZoom == true) {
	            	initialZoom = false;
	            	console.info('Updating zoom...');
	                LoadView(this);
	            }
        	}
            catch(e) {
                console.info('Error calling LoadView msg: ' + e.message);            
            }
        	
            google.maps.event.removeListener(zoomChangeBoundsListener);
        });
    });
    
    try {
  	    getGEOLocationCoords_initialize(map);
    }
    catch(e) {
        console.info('Error calling getGEOLocationCoords_initialize msg: ' + e.message);            
    }

	riprunner_js_map = map;
}
   
   function loadScript(src,callback) {
	   var script = document.createElement("script");
	   script.type = "text/javascript";
	   if(callback) {
		    script.onload = callback;
	   }
	   document.getElementsByTagName("head")[0].appendChild(script);
	   script.src = src;
   }
   $( document ).ready(function() {
      loadScript('https://maps.googleapis.com/maps/api/js?v=3.exp&key={{ callout_details_vm.firehall.WEBSITE.WEBSITE_GOOGLE_MAP_API_KEY }}&alternatives=true&callback=map_initialize' );
   });
</script>