<!DOCTYPE html>
<html>
    <head>
        <title>Secure Login: Log In</title>
        {% if gvm.isMobile %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}styles/mobile.css" />
        {% else %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}styles/main.css" />
        {% endif %}
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}js/sha512.js"></script>
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}js/jquery-2.1.1.min.js"></script> 
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}js/spin.js"></script>
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}js/forms.js"></script> 
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}js/common-utils.js"></script>
    </head>
    <body>
    
    	<div class="container_center">
    	{% if gvm.isMobile %} 
        <b>Mobile Device Detected</b> 
    	{% elseif gvm.isTablet %} 
        <b>Tablet Device Detected</b> 
        {% else %} 
        <b>Desktop Device Detected</b> 
        {% endif %}
    	
        {% if loginvm.hasError %}
        <p class="error">Error Logging In!</p>
        {% else %}
		<div class="container">
			<section id="content">
	        <form action="{{ gvm.RR_DOC_ROOT }}process_login.php" method="post" 
	               accept-charset="utf-8" id="login_form" name="login_form">
	        	<h1>Login User</h1>
	        	
	        	<div>
	            	<label for="firehall_id">Firehall Id</label>
	            	<input type="text" name="firehall_id" id="firehall_id" 
	            	       placeholder="your firehall id" required 
	            		   onKeyPress="enterMovesFocus(this,event,document.getElementById('user_id'))"/>
	            </div>
	            <div>
					<label for="user_id">User Id</label>
			        <input type="text" name="user_id" id="user_id" 
			               placeholder="your user id" required 
			        	   onKeyPress="enterMovesFocus(this,event,document.getElementById('password'))"/>
			    </div>
			    <div>
	            	<label for="password">Password</label>
	            	<input type="password" name="password" id="password" 
	            	       placeholder="password" required 
	            		   onKeyPress="return submitenter(this,event,document.getElementById('btnLogin').onclick);" />
				</div>
				<div >
	            	<input type="button" id="btnLogin" 
	                		value="Login" 
	                   		onclick="return formhash(document.getElementById('login_form'), document.getElementById('password'));" />
	            </div>	
	        </form>
			</section>
			</div>
	
	        {% if gvm.auth.isAuth %}
	        <p>If you are done browsing, please <a href="{{ gvm.RR_DOC_ROOT }}logout.php">log out</a>.</p>
	        {% endif %}
	        <p>You are currently logged {{ gvm.auth.isAuth ? 'in' : 'out' }}.</p>
        {% endif %}
        </div>
    </body>
</html>