{% if responding_userstatus == status_type_complete or responding_userstatus == status_type_cancelled %}
Responder: {{ responding_userid }} has marked the callout as: {{ responding_userstatus_description }}.{# This comment removes the newline that follows #}
{% else %}
Responder: {{ responding_userid }} set their status to {{ responding_userstatus_description }} for the callout: {{ callout.code }}{% if not responding_usereta is null %} eta: {{ responding_usereta }}{% endif %}.{# This comment removes the newline that follows #}
{% endif %}