New device sign in detected.
Your account was used to sign in on the following device. 
Please review the details below to confirm it was you.

Website: {{ webRootURL }}
Firehall: {{ fhid }}
Login: {{ userid }}
Date & time of login: {{ datetime }}
Login city: {{ location }}
Type of device: {{ userAgent }}
IP address: {{ requestIPHeader }}

If this was you, no action is required. If this wasn't you, change your password immediately to secure your account!{# This comment removes the newline that follows #}