{% block sms_header %}
911-Page: {{ callout.codeDescription }}, {{ callout.address }}, {# This comment removes the newline that follows #}
{% endblock %}
{% block sms_footer %}
{{ callout.codeType is not null ? callout.codeType.customTag : '???' }} {# This comment removes the newline that follows #}
{% endblock %}
{% block sms_comments %}
{{ callout.comments is not null ? 'Comments: ' ~ callout.comments ~ ' ' : '' }}{# This comment removes the newline that follows #}
{% endblock %}
{% block sms_url %}
{{ callout.firehall.WEBSITE.WEBSITE_ROOT_URL }}ci/cid={{ callout.id }}&fhid={{ callout.firehall.FIREHALL_ID }}&ckid={{ callout.keyId }}&authvalue=x{# This comment removes the newline that follows #}
{% endblock %}