<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Secure Login: Protected Page</title>
        {% if gvm.isMobile %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}styles/mobile.css?version=1" />
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}styles/table-styles-mobile.css" />
        {% else %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}styles/main.css?version=1" />
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}styles/table-styles.css" />
        {% endif %}
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}js/jquery-2.1.1.min.js"></script>
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}styles/freeze-header.css" />
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}js/forms.js"></script>
    </head>
    <body>
        <div class="container_center">
        {% if gvm.auth.isAuth and (gvm.auth.isAdmin or usersmenu_vm.selfedit_mode) %} 
                
            {% include 'user-welcome.twig.html' %}
            {% include 'live-callout-warning.twig.html' %}
            
            <input type="hidden" id="se" name="se" value="true"/>
            
            <div class="menudiv_wrapper">
              <nav class="vertical">
                <ul>
                  <li>
                    <label for="main_page">Return to ..</label>
                    <input type="radio" name="verticalMenu" id="main_page" />
                    <div>
                      <ul>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}controllers/main-menu-controller.php">Main Menu</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <label for="logout">Exit</label>
                    <input type="radio" name="verticalMenu" id="logout" />
                    <div>
                      <ul>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}logout.php">Logout</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>

            {% if not usersmenu_vm.selfedit_mode %}
                {% set override_smc_controller = 'users-menu-controller.php' %}
                {% include 'send-message.twig.html' %}
            {% endif %}
            
            <form action="{{ gvm.RR_DOC_ROOT }}controllers/users-menu-controller.php" 
                  method="post" name="user_edit_form">
   
            <center>
            {% if usersmenu_ctl_action_error == 100 %}
            <b><font color="red">Invalid password! Passwords must match and be at least 5 characters.</font></b>
            {% elseif usersmenu_ctl_action_error == 101 %}
            <b><font color="red">You must enter a Firehall Id</font></b>
            {% elseif usersmenu_ctl_action_error == 102 %}
            <b><font color="red">You must enter a User Id</font></b>            
            {% endif %}

            {% if gvm.firehall.LDAP.ENABLED == true %}
            <b><font color="red">*Note: You cannot edit user info in LDAP mode.</font></b>
            {% endif %}
            <table id="box-table-a">
                <thead>
                    <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Record Id</th>
                    <th scope="col">Firehall Id</th>
                    <th scope="col">User Id</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">User Type</th>
                    {% if usersmenu_ctl_edit_mode is defined and usersmenu_ctl_edit_mode %}
                        <th scope="col">Password</th>
                        <th scope="col">Re-type Password</th>
                    {% endif %}
                    <th scope="col">Mobile Phone</th>
                    <th scope="col">Admin Access{%if gvm.firehall.LDAP.ENABLED == true and not usersmenu_vm.selfedit_mode %}<br>{{ gvm.firehall.LDAP.LDAP_LOGIN_ADMIN_GROUP_FILTER }}{% endif %}</th>
                    <th scope="col">Enable SMS{%if gvm.firehall.LDAP.ENABLED == true and not usersmenu_vm.selfedit_mode %}<br>{{ gvm.firehall.LDAP.LDAP_LOGIN_SMS_GROUP_FILTER }}{% endif %}</th>
                    <th scope="col">Enable Responding{%if gvm.firehall.LDAP.ENABLED == true and not usersmenu_vm.selfedit_mode %}<br>{{ gvm.firehall.LDAP.LDAP_LOGIN_RESPOND_SELF_GROUP_FILTER }}{% endif %}</th>
                    <th scope="col">Enable Responding for others{%if gvm.firehall.LDAP.ENABLED == true and not usersmenu_vm.selfedit_mode %}<br>{{ gvm.firehall.LDAP.LDAP_LOGIN_RESPOND_OTHERS_GROUP_FILTER }}{% endif %}</th>
                    <th scope="col">User Active</th>
                    <th scope="col" class="column_nowrap">Update Date/Time</th>
                    <th scope="col" colspan="2" align="Center">Modify Data</th>
                    <tr>
                </thead>
            
            
                {% if usersmenu_ctl_insert_new is defined and usersmenu_ctl_insert_new and not usersmenu_vm.selfedit_mode %}
                <tr>
                <td>
                </td>
                <td>
                NEW
                </td>
                <td>
                    <input id="edit_firehall_id" name="edit_firehall_id" type="input" 
                           value="" />
                </td>
                <td>
                    <input id="edit_user_id_name" name="edit_user_id_name" 
                           type="input" value=""/>
                </td>
                <td>
                    <input id="edit_email_address" name="edit_email_address" 
                           type="input" value=""/>
                </td>
                
                <td>
                  <select id="edit_user_type" name="edit_user_type">
                  {% for user_type in usersmenu_vm.user_type_list %}
                    <option value="{{ user_type.id }}">{{ user_type.name }}</option>
                  {% endfor %}
                  </select>
                </td>
                
                <td>
                   <input id="edit_user_password_1" 
                           name="edit_user_password_1" type="password" 
                           value=""/>
                </td>
                <td>
                   <input id="edit_user_password_2" 
                           name="edit_user_password_2" type="password" 
                           value=""/>
                </td>
                <td>
                    <input id="edit_mobile_phone" name="edit_mobile_phone" 
                           type="input" value=""/>
                </td>
                <td>
                    <input id="edit_admin_access" name="edit_admin_access" 
                           type="checkbox" />
                </td>
                <td>
                    <input id="edit_sms_access" name="edit_sms_access" 
                           type="checkbox" />
                </td>
                <td>
                    <input id="edit_respond_self_access" name="edit_respond_self_access" 
                           type="checkbox" />
                </td>
                <td>
                    <input id="edit_respond_others_access" name="edit_respond_others_access" 
                           type="checkbox" />
                </td>
                <td>
                    <input id="edit_user_active" name="edit_user_active" 
                           type="checkbox" checked/>
                </td>
                
                <td class="column_nowrap">
                </td>
                {% if not gvm.firehall.LDAP.ENABLED %}
                <td colspan="2">
                    <input type="button" value="Save" 
                           onclick="save_user(this.form, -1);" />
                    
                    <input type="button" value="Cancel" 
                           onclick="window.location.href='{{ gvm.RR_DOC_ROOT }}controllers/users-menu-controller.php{{ usersmenu_vm.selfedit_mode ? '?se=true' : '' }}'; return false;" />
                </td>
                {% else %}
                    {% if gvm.firehall.LDAP.ENABLED %}
                <td colspan="2"></td>
                    {% else %}
                <td{{ usersmenu_vm.selfedit_mode ? ' colspan="2" ' : '' }}>
                    <input type="button" value="Edit" 
                           onclick="edit_user(this.form, -1);" />
                </td>
                <td>
                    <input type="button" value="Delete" 
                           onclick="return delete_user(this.form, {{ user.id }},'{{ user.user_id }}');" />
                </td>
                    {% endif %}
                {% endif %}
                </tr>
                {% endif %}

            
	            {% if not gvm.firehall.LDAP.ENABLED and not usersmenu_vm.selfedit_mode %}
	            <tr>
                <td>
                    <input class="select-all" id="checkbox_select_all" name="checkbox_select_all" 
                           type="checkbox" user-id="-1" />
                </td>
	            {% if usersmenu_ctl_edit_mode is defined and usersmenu_ctl_edit_mode %}
	                <td colspan="16">
	            {% else %}
	                <td colspan="14">
	            {% endif %}
	                    <input type="button" value="Add New" onclick="edit_user(this.form, -1);" />
	                </td>
	            </tr>
	            {% endif %}
            
            
            {% for user in usersmenu_vm.user_list %}
                {% set edit_current_row = 
                   (usersmenu_ctl_edit_userid is defined and 
                    usersmenu_ctl_edit_userid == user.id and 
                    gvm.firehall.LDAP.ENABLED == false ? true : false) %}
                    
	            <tr>
	            <td>
                    <input class="select-item" id="checkbox_select{{ user.id }}" name="checkbox_select{{ user.id }}" 
                           type="checkbox" user-id="{{ user.id }}" />
                </td>
	            
	            <td>
	            {{ user.id }}
	            </td>

	            <td>
	            {% if edit_current_row and not usersmenu_vm.selfedit_mode %}
	                <input id="edit_firehall_id" name="edit_firehall_id" type="input" 
	                       value="{{ user.firehall_id }}"/>
	            {% else %}
	                {{ user.firehall_id }}
	            {% endif %}
	            </td>
	            
	            <td>
	            {% if edit_current_row %}
	                <input id="edit_user_id_name" name="edit_user_id_name" 
	                       type="input" value="{{ user.user_id }}"/>
	            {% else %}
	                {{ user.user_id }}
	            {% endif %}
	            </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_email_address" name="edit_email_address" 
                           type="input" value="{{ user.email }}"/>
                {% else %}
                    {{ user.email }}
                {% endif %}
                </td>
	            
                <td>
                {% if edit_current_row and not usersmenu_vm.selfedit_mode %}
                    <select id="edit_user_type" name="edit_user_type">

                    {% for user_type in usersmenu_vm.user_type_list %}
                      <option value="{{ user_type.id }}" {{ user.user_type == user_type.id ? 'selected="selected"' : '' }}>{{ user_type.name }}</option>
                    {% endfor %}

                    </select>
                {% else %}
                    {% for user_type in usersmenu_vm.user_type_list %}
                      {% if user.user_type == user_type.id %}
                      {{ user_type.name }}
                      {% endif %}
                    {% endfor %}

                {% endif %}
                </td>
	            
	            {% if edit_current_row %}
                <td>
                   <input id="edit_user_password_1" 
                           name="edit_user_password_1" type="password" 
                           value=""/>
                </td>
                <td>
                   <input id="edit_user_password_2" 
                           name="edit_user_password_2" type="password" 
                           value=""/>
                </td>
	            {% elseif usersmenu_ctl_edit_mode is defined and usersmenu_ctl_edit_mode %}
                <td></td>
                <td></td>
	            {% endif %}
	            <td>
	            {% if edit_current_row %}
	                <input id="edit_mobile_phone" name="edit_mobile_phone" 
	                       type="input" value="{{ user.mobile_phone }}"/>
	            {% else %}
	                {{ user.mobile_phone }}
	            {% endif %}
	            </td>
	            <td>
	            {% if edit_current_row and not usersmenu_vm.selfedit_mode %}
	                <input id="edit_admin_access" name="edit_admin_access" 
	                       type="checkbox" {{ user.access_admin ? 'checked="checked"' : '' }} />
	            {% else %}
	                {{ user.access_admin ? 'yes' : 'no' }}
	            {% endif %}
	            </td>
	            <td>
	            {% if edit_current_row and not usersmenu_vm.selfedit_mode %}
	                <input id="edit_sms_access" name="edit_sms_access" 
	                       type="checkbox" {{ user.access_sms ? 'checked="checked"' : '' }} />
	            {% else %}
	                {{ user.access_sms ? 'yes' : 'no' }}
	            {% endif %}
	            </td>
	            
                <td>
                {% if edit_current_row and not usersmenu_vm.selfedit_mode %}
                    <input id="edit_respond_self_access" name="edit_respond_self_access" 
                           type="checkbox" {{ user.access_respond_self ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ user.access_respond_self ? 'yes' : 'no' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row and not usersmenu_vm.selfedit_mode %}
                    <input id="edit_respond_others_access" name="edit_respond_others_access" 
                           type="checkbox" {{ user.access_respond_others ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ user.access_respond_others ? 'yes' : 'no' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row and not usersmenu_vm.selfedit_mode %}
                    <input id="edit_user_active" name="edit_user_active" 
                           type="checkbox" {{ user.active ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ user.active ? 'yes' : 'no' }}
                {% endif %}
                </td>

	            <td class="column_nowrap">
	               {{ user.updatetime }}
	            </td>
	            {% if edit_current_row and not gvm.firehall.LDAP.ENABLED %}
	                <td colspan="2">
	                <input type="button" value="Save" 
	                       onclick="save_user(this.form, {{ user.id }});" />
	                
	                <input type="button" value="Cancel" 
	                       onclick="window.location.href='{{ gvm.RR_DOC_ROOT }}controllers/users-menu-controller.php{{ usersmenu_vm.selfedit_mode ? '?se=true' : '' }}'; return false;" />
	                </td>
	            {% else %}
	                {% if gvm.firehall.LDAP.ENABLED %}
	                    <td colspan="2"></td>
	                {% else %}
	                    <td{{ usersmenu_vm.selfedit_mode ? ' colspan="2" ' : '' }}>
	                    <input type="button" value="Edit" 
	                           onclick="edit_user(this.form, {{ user.id }});" />
	                    </td>
	                    {% if not usersmenu_vm.selfedit_mode %}
	                        <td>
	                        <input type="button" value="Delete" 
	                               onclick="return delete_user(this.form, {{ user.id }},'{{ user.user_id }}');" />
	                        </td>
	                    {% endif %}
	                {% endif %}
	            {% endif %}
	            </tr>
            {% endfor %}
            
            </table>
            </center>
            </form>
            
<script type="text/javascript">
    function edit_user(form, user_id) {
       addformhiddenfield(form, 'form_action', 'edit');
       addformhiddenfield(form, 'edit_user_id', user_id);
       {% if usersmenu_vm.selfedit_mode %}
       addformhiddenfield(form, 'se', 'true');
       {% endif %}
       
       form.submit();
    }

    function save_user(form, user_id) {
       addformhiddenfield(form, 'form_action', 'save');
       addformhiddenfield(form, 'edit_user_id', user_id);
       {% if usersmenu_vm.selfedit_mode %}
       addformhiddenfield(form, 'se', 'true');
       {% endif %}
       
       form.submit();
    }

    function delete_user(form, user_id, user_id_name) {
        if(confirm('Confirm DELETE for user: ' + user_id_name + '?')) {
            addformhiddenfield(form, 'form_action', 'delete');
            addformhiddenfield(form, 'edit_user_id', user_id);
            
            {% if usersmenu_vm.selfedit_mode %}
            addformhiddenfield(form, 'se', 'true');
            {% endif %}
            
            form.submit();
            return true;
        }
        return false;
    }

    function send_msg(form, msg_type) {
       addformhiddenfield(form, 'form_action', msg_type);
       addformhiddenfield(form, 'selected_users', selected_users.join(','));
       form.submit();
    }

    function toggleVisibility(itemId) {
        var item = document.getElementById(itemId);
        if(item.style.display == "none") {
            item.style.display="block";
        }
        else {
            item.style.display="none";
        }
    }
    
    $('table td input[type=checkbox]').click(function () {
        var checked = $(this).prop('checked');
        var checked_class = $(this).prop('class');
        debugger;
        if(checked_class == 'select-all') {
	        $(this).closest('table').find('tbody tr').each(function () {
	            $(this).find('td input[type=checkbox]:not(:disabled)').prop('indeterminate',false).prop('checked', checked).trigger('change');
	        });
	    }
        //email_selected
    });
    
    $('table td input[type=checkbox]').change(function (e) {
    	debugger;
    
        if ($(this).is(":checked")) { //If the checkbox is checked
            //alert('User id is checked for: ' + $(this).attr('user-id')); 
            //Add class on checkbox checked
        	selected_users.push($(this).attr('user-id'));
        } 
        else {
        	//alert('User id is unchecked for: ' + $(this).attr('user-id'));
            //Remove class on checkbox uncheck
        	selected_users.splice($.inArray($(this).attr('user-id'), selected_users),1);
        }
    });
    
    var selected_users = [];
    var item = document.getElementById("edit_firehall_id");
    if(item) {
        item.focus();
    }
</script>
        {% else %}
            {% include 'access-denied.twig.html' %}
        {% endif %}
        </div>
    </body>
</html>