<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Secure Login: Protected Page</title>
		{% include 'global-css-js.twig.html' %}
   </head>
    <body>
        <div class="container_center">
        {% if gvm.auth.isAuth and (gvm.auth.isAdmin or usersmenu_vm.selfedit_mode) %} 
                
            {% include 'user-welcome.twig.html' %}
            {% include 'live-callout-warning.twig.html' %}

			{% if gvm.MENU_TYPE == 'horizontal' %}
				{% include 'global-horizontal-menu.twig.html' %}
			{% elseif gvm.MENU_TYPE == 'vertical' %}
            <input type="hidden" id="se" name="se" value="true"/>
            
            <div class="menudiv_wrapper">
              <nav class="vertical">
                <ul>
                  <li>
                    <label for="main_page">Return to ..</label>
                    <input type="radio" name="verticalMenu" id="main_page" />
                    <div>
                      <ul>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}controllers/main-menu-controller.php">Main Menu</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <label for="logout">Exit</label>
                    <input type="radio" name="verticalMenu" id="logout" />
                    <div>
                      <ul>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}logout.php">Logout</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
			{% else %}
				<br /><h3>NO VALID MENU DEFINED - CHECK CONFIG.PHP: MENU_TYPE</h3>
			{% endif %}

            {% if not usersmenu_vm.selfedit_mode %}
                {% set override_smc_controller = 'users-menu-controller.php' %}
                {% include 'send-message.twig.html' %}
            {% endif %}
            
            <form action="{{ gvm.RR_DOC_ROOT }}controllers/users-menu-controller.php" 
                  method="post" name="user_edit_form">
   
            <center>
            {% if usersmenu_ctl_action_error == 100 %}
            <b><font color="red">Invalid password! Passwords must match and be at least 5 characters.</font></b>
            {% elseif usersmenu_ctl_action_error == 101 %}
            <b><font color="red">You must enter a Firehall Id</font></b>
            {% elseif usersmenu_ctl_action_error == 102 %}
            <b><font color="red">You must enter a User Id</font></b>            
            {% endif %}

            <table id="box-table-a">
            {% for user in usersmenu_vm.user_list %}
                {% if loop.index == 1 %}
		        <thead>
			        <tr>
			        <th scope="col">UID</th>
                    {% if not gvm.isMobile %}                  
			        <th scope="col">Firehall ID</th>
                    {% endif %}
                    <th scope="col">User</th>
			        {% if usersmenu_ctl_edit_mode is defined and usersmenu_ctl_edit_mode %}
			            <th scope="col">Password</th>
			            <th scope="col">Re-type Password</th>
			        {% endif %}
			        <th scope="col">Mobile</th>
			        <th scope="col">Admin </th>
			        <th scope="col">SMS</th>
			        {% if not gvm.isMobile %}                  
			        <th scope="col" class="column_nowrap">Update Date/Time</th>
                    {% endif %}
		                {% if not gvm.firehall.LDAP.ENABLED %}
			        <th scope="col" colspan="2" align="Center">Modify Data {{ gvm.firehall.LDAP.ENABLED }}</th>
				{% endif %}
			        <tr>
		        </thead>
                {% endif %}

                                
                {% set edit_current_row = 
                   (usersmenu_ctl_edit_userid is defined and 
                    usersmenu_ctl_edit_userid == user.id and 
                    gvm.firehall.LDAP.ENABLED == false ? true : false) %}
                    
	            <tr {% if user.access_admin == 'yes' %}{% endif %}>
	            <td>
	            {{ user.id }}
	            </td>
                {% if not gvm.isMobile %}
	            <td>
	            {% if edit_current_row and not usersmenu_vm.selfedit_mode %}
	                <input id="edit_firehall_id" name="edit_firehall_id" type="input" 
	                       value="{{ user.firehall_id }}"/>
	            {% else %}
	                {{ user.firehall_id }}
	            {% endif %}
	            </td>
                {% endif %}
	            <td>
	            {% if edit_current_row %}
	                <input id="edit_user_id_name" name="edit_user_id_name" 
	                       type="input" value="{{ user.user_id }}"/>
	            {% else %}
	                {{ user.user_id }}
	            {% endif %}
	            </td>
	            {% if edit_current_row %}
                <td>
                   <input id="edit_user_password_1" 
                           name="edit_user_password_1" type="password" 
                           value=""/>
                </td>
                <td>
                   <input id="edit_user_password_2" 
                           name="edit_user_password_2" type="password" 
                           value=""/>
                </td>
	            {% elseif usersmenu_ctl_edit_mode is defined and usersmenu_ctl_edit_mode %}
                <td></td>
                <td></td>
	            {% endif %}
	            <td>
	            {% if edit_current_row %}
	                <input id="edit_mobile_phone" name="edit_mobile_phone" 
	                       type="input" value="{{ user.mobile_phone }}"/>
	            {% else %}
	                {{ user.mobile_phone }}
	            {% endif %}
	            </td>
	            <td>
	            {% if edit_current_row and not usersmenu_vm.selfedit_mode %}
	                <input id="edit_admin_access" name="edit_admin_access" 
	                       type="checkbox" {{ user.access_admin ? 'checked="checked"' : '' }} />
	            {% else %}
	                {{ user.access_admin ? 'yes' : 'no' }}
	            {% endif %}
	            </td>
	            <td>
	            {% if edit_current_row and not usersmenu_vm.selfedit_mode %}
	                <input id="edit_sms_access" name="edit_sms_access" 
	                       type="checkbox" {{ user.access_sms ? 'checked="checked"' : '' }} />
	            {% else %}
	                {{ user.access_sms ? 'yes' : 'no' }}
	            {% endif %}
	            </td>
                {% if not gvm.isMobile %}                  
			    <td class="column_nowrap">{{ user.updatetime }}</td>
			    {% endif %}
	            {% if edit_current_row and not gvm.firehall.LDAP.ENABLED %}
	                <td colspan="2">
	                <input type="button" value="Save" 
	                       onclick="save_user(this.form, {{ user.id }});" />
	                
	                <input type="button" value="Cancel" 
	                       onclick="window.location.href='{{ gvm.RR_DOC_ROOT }}controllers/users-menu-controller.php{{ usersmenu_vm.selfedit_mode ? '?se=true' : '' }}'; return false;" />
	                </td>
	            {% else %}
	                {% if not gvm.firehall.LDAP.ENABLED %}
	                    <td{{ usersmenu_vm.selfedit_mode ? ' colspan="2" ' : '' }}>
	                    <input type="button" value="Edit" 
	                           onclick="edit_user(this.form, {{ user.id }});" />
	                    </td>
	                    {% if not usersmenu_vm.selfedit_mode %}
	                        <td>
	                        <input type="button" value="Delete" 
	                               onclick="return delete_user(this.form, {{ user.id }},'{{ user.user_id }}');" />
	                        </td>
	                    {% endif %}
	                {% endif %}
	            {% endif %}
	            </tr>
            {% endfor %}
            
            {% if usersmenu_ctl_insert_new is defined and usersmenu_ctl_insert_new and not usersmenu_vm.selfedit_mode %}
                <tr>
                <td>
                NEW
                </td>
                <td>
	                <input id="edit_firehall_id" name="edit_firehall_id" type="input" 
	                       value="" />
                </td>
                <td>
                    <input id="edit_user_id_name" name="edit_user_id_name" 
                           type="input" value=""/>
                </td>
                <td>
                   <input id="edit_user_password_1" 
                           name="edit_user_password_1" type="password" 
                           value=""/>
                </td>
                <td>
                   <input id="edit_user_password_2" 
                           name="edit_user_password_2" type="password" 
                           value=""/>
                </td>
                <td>
                    <input id="edit_mobile_phone" name="edit_mobile_phone" 
                           type="input" value=""/>
                </td>
                <td>
                    <input id="edit_admin_access" name="edit_admin_access" 
                           type="checkbox" />
                </td>
                <td>
                    <input id="edit_sms_access" name="edit_sms_access" 
                           type="checkbox" />
                </td>
                <td class="column_nowrap">
                </td>
                {% if not gvm.firehall.LDAP.ENABLED %}
                <td colspan="2">
                    <input type="button" value="Save" 
                           onclick="save_user(this.form, -1);" />
                    
                    <input type="button" value="Cancel" 
                           onclick="window.location.href='{{ gvm.RR_DOC_ROOT }}controllers/users-menu-controller.php{{ usersmenu_vm.selfedit_mode ? '?se=true' : '' }}'; return false;" />
                </td>
                {% else %}
                    {% if gvm.firehall.LDAP.ENABLED %}
                <td colspan="2"></td>
                    {% else %}
                <td{{ usersmenu_vm.selfedit_mode ? ' colspan="2" ' : '' }}>
                    <input type="button" value="Edit" 
                           onclick="edit_user(this.form, -1);" />
                </td>
                <td>
                    <input type="button" value="Delete" 
                           onclick="return delete_user(this.form, {{ user.id }},'{{ user.user_id }}');" />
                </td>
                    {% endif %}
                {% endif %}
                </tr>
            {% endif %}

            
            {% if not gvm.firehall.LDAP.ENABLED and not usersmenu_vm.selfedit_mode %}
            <tr>
            {% if usersmenu_ctl_edit_mode is defined and usersmenu_ctl_edit_mode %}
                <td colspan="11">
            {% else %}
                <td colspan="9">
            {% endif %}
                    <input type="button" value="Add New" onclick="edit_user(this.form, -1);" />
                </td>
            </tr>
            {% endif %}
            </table>
            </center>
            </form>
            
<script type="text/javascript">
    function edit_user(form, user_id) {
       addformhiddenfield(form, 'form_action', 'edit');
       addformhiddenfield(form, 'edit_user_id', user_id);
       {% if usersmenu_vm.selfedit_mode %}
       addformhiddenfield(form, 'se', 'true');
       {% endif %}
       
       form.submit();
    }

    function save_user(form, user_id) {
       addformhiddenfield(form, 'form_action', 'save');
       addformhiddenfield(form, 'edit_user_id', user_id);
       {% if usersmenu_vm.selfedit_mode %}
       addformhiddenfield(form, 'se', 'true');
       {% endif %}
       
       form.submit();
    }

    function delete_user(form, user_id, user_id_name) {
        if(confirm('Confirm DELETE for user: ' + user_id_name + '?')) {
            addformhiddenfield(form, 'form_action', 'delete');
            addformhiddenfield(form, 'edit_user_id', user_id);
            
            {% if usersmenu_vm.selfedit_mode %}
            addformhiddenfield(form, 'se', 'true');
            {% endif %}
            
            form.submit();
            return true;
        }
        return false;
    }

    function send_msg(form, msg_type) {
       addformhiddenfield(form, 'form_action', msg_type);
       form.submit();
    }

    function toggleVisibility(itemId) {
        var item = document.getElementById(itemId);
        if(item.style.display == "none") {
            item.style.display="block";
        }
        else {
            item.style.display="none";
        }
    }
    
    var item = document.getElementById("edit_firehall_id");
    if(item) {
        item.focus();
    }
</script>
        {% else %}
            {% include 'access-denied.twig.html' %}
        {% endif %}
        </div>
    </body>
</html>
