<!DOCTYPE html>
<html>
    {% if gvm.auth.isAuth %}
    <head>
        {% if gvm.isMobile %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}styles/mobile.css" />
        {% else %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}styles/main.css" />
        {% endif %}
    
        <script type="text/javascript">
        var url ='{{ gvm.RR_DOC_ROOT }}getFileContents.php?file={{ viewlogs_ctl_logfile }}';
        </script>
       
        <title>Logfile viewer</title>
        <script type="text/javascript" src="{{ gvm.RR_DOC_ROOT }}js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{ gvm.RR_DOC_ROOT }}js/logtail.js"></script>
        <style>
        
        div.rounded {
            background-color: #f2f2f2;
            color: #555;
            font-weight: bold;
            padding: 10px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px; }
            
        </style>
    </head>
    <body>
        {% include 'user-welcome.twig.html' %}
        {% include 'live-callout-warning.twig.html' %}
    
        <div id="header" class="rounded" 
            style="height: 800px; overflow: none; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.9);">
            Show recent entries on
            <a href="{{ gvm.RR_DOC_ROOT }}controllers/view-logs-controller.php">Top</a> or
            <a href="{{ gvm.RR_DOC_ROOT }}controllers/view-logs-controller.php?noreverse">Bottom</a>.
            <br />
            Refresh in <span id="counter">x</span> seconds. <a id="pause" href='#'>Pause</a>.
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href='{{ gvm.RR_DOC_ROOT }}getFileContents.php?file={{ viewlogs_ctl_logfile }}'>Download logfile</a>.
            <br />
            <div id="data_header" style="height: 600px; overflow: auto;border: 2px solid #555;">
                <pre id="data" style="">Loading...</pre>
            </div>
        </div>
    </body>
    
    {% else %}
    <body>
    {% include 'access-denied.twig.html' %}
    </body>
    {% endif %}
    
</html>
