<button onclick="toggleVisibility('user_send_msg');">Show/Hide Send Message</button>            
<form action="{{ gvm.RR_DOC_ROOT }}/controllers/{{ override_smc_controller is defined ? override_smc_controller : 'send-message-controller.php' }}?{{ gvm.RR_JWT_TOKEN_PARAM }}" 
      method="post" id="user_send_msg" name="user_send_msg" 
      style="display:{% if sendmsg_vm is not defined or 
                           sendmsg_vm.gcm_send_mode is not defined or 
                           (sendmsg_vm.sms_send_mode == false and 
                            sendmsg_vm.gcm_send_mode == false) %}none{% endif %}" >
    <center>
    <table id="box-table-a" style="width:350px; height:100px;">
        <tr>
            <td>
            <span id="msgTitle">Send a message:</span>
            </td>
        </tr>
        <tr>
            <td>
            <textarea id="txtMsg" name="txtMsg" type="text" style="width:100%; height:100px;"></textarea>
            </td>
        </tr>
        <tr>
            <td>
            <input type="button" value="Send using SMS" onclick="send_msg(this.form, 'sms');" />&nbsp;
            <input type="button" value="Send using Android" onclick="send_msg(this.form, 'fcm');" />&nbsp;
            <input type="button" value="Send using Email" onclick="send_msg(this.form, 'email');" />
            </td>
        </tr>
        {% if sendmsg_ctl_result_status is defined %}
        <tr>
            <td>
            <span id="msgStatus">{{ sendmsg_ctl_result_status }}</span>
            </td>
        </tr>
        {% endif %}
    </table>
    </center>
</form>
{% if sendmsg_ctl_result_status is defined %}
<script type="text/javascript">
$( document ).ready(function() {
    toggleVisibility('user_send_msg');
}); 
</script>
{% endif %}
