.h_cssmenu {
     display: table;
 }
.h_cssmenu ul{
    text-align: center;
	float: left;
	display: inline-block;
	margin: 0 auto;
	padding: 0px;
	list-style-type: none;
}

/*Top level list items*/
.h_cssmenu ul li{
	position: relative;
	display: inline-block;
	float: left;
	text-align: left;
}

/*Top level menu link items style*/
.h_cssmenu ul li a{
    -moz-border-radius: 10px;
    border-radius: 10px;
	display: block;
	width: 115px; /*Width of top level menu link items*/
	padding: 8px 0px 8px 8px;
	border: 0px solid #808080;
	border-left-width: 0;
	text-decoration: none;
	color: white;
	font-size: .85rem;
	font-weight: 100;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	text-transform: uppercase;
	transition: all .1s ease;
	background: #FF0000; /* Old browsers */
	/* background: -moz-linear-gradient(-135deg,  #FF0000 0%, #030000 100%); /* FF3.6+ */ */
	/* background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#FF0000), color-stop(100%,#030000)); /* Chrome,Safari4+ */ */
	/* background: -webkit-linear-gradient(-135deg,  #FF0000 0%,#030000 100%); /* Chrome10+,Safari5.1+ */ */
	/* background: -o-linear-gradient(-135deg,  #FF0000 0%,#030000 100%); /* Opera 11.10+ */ */
	/* background: -ms-linear-gradient(-135deg,  #FF0000 0%,#030000 100%); /* IE10+ */ */
	/* background: linear-gradient(135deg,  #FF0000 0%,#030000 100%); /* W3C */ */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#030000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ */
}
.h_cssmenu ul li a:hover{
	color: black;
	background: #ffffff; /* Old browsers */
	/* background: -moz-linear-gradient(-45deg,  #FF0000 0%, #FF0000 100%); /* FF3.6+ */ */
	/* background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#FF0000), color-stop(100%,#FF0000)); /* Chrome,Safari4+ */ */
	/* background: -webkit-linear-gradient(-45deg,  #FF0000 0%,#FF0000 100%); /* Chrome10+,Safari5.1+ */ */
	/* background: -o-linear-gradient(-45deg,  #FF0000 0%,#FF0000 100%); /* Opera 11.10+ */ */
	/* background: -ms-linear-gradient(-45deg,  #FF0000 0%,#FF0000 100%); /* IE10+ */ */
	/* background: linear-gradient(135deg,  #FF0000 0%,#FF0000 100%); /* W3C */ */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#FF0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ */
}


	
/*Sub level menu*/
.h_cssmenu ul li ul{
	left: 0;
	top: 0;
	border-top: 1px solid #202020;
	position: absolute;
	display: block;
	visibility: hidden;
	z-index: 100;
}

/*Sub level menu list items*/
.h_cssmenu ul li ul li{
	display: inline;
	float: none;
}


/* Sub level menu links style */
.h_cssmenu ul li ul li a{
	width: 150px; /*width of sub menu levels*/
	padding: 8px 0px 8px 8px;
	background: white;
	border-width: 0 1px 1px 1px;
	color: black;
	font-size: .85rem;
	font-weight: 100;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.h_cssmenu ul li ul li a:hover{
	color: white;
	background: #FF0000; /* Old browsers */
}

.h_cssmenu .arrowdiv{
	position: absolute;
	right: 0;
	background: transparent url(./images/menuarrow.gif) no-repeat center left;
}

* html p#iepara{ /*For a paragraph (if any) that immediately follows menu, add 1em top spacing between the two in IE*/
	padding-top: 1em;
}
	
/* Holly Hack for IE \*/
* html .h_cssmenu ul li { float: left; height: 1%; }
* html .h_cssmenu ul li a { height: 1%; }
/* End */
