<head>
  <meta charset="UTF-8">
  <title>Secure Login: Protected Page</title>
</head>
<div class="loading-shade" *ngIf="(isLoadingResults | async);else show_content">
  <mat-spinner *ngIf="(isLoadingResults | async)"></mat-spinner>
</div>

<ng-template #show_content>
<div class="ci_body" *ngIf="(calloutDetails | async) as callout">
<div *ngIf="isRequestValid(callout)">
    <span class="ci_header">Welcome {{ callout.member_id }} - </span>
    <span class="ci_header">Call Information:</span>

    <button mat-icon-button (click)="reloadData()">
        <mat-icon>refresh</mat-icon>
    </button>
                
	<div id="callContent">
        <table class="box-table-a" border="0" width="100%">
            <tr *ngIf="callout.details.address == ''">
                <td class=ci_header_address colspan=3>NO ADDRESS FROM FOCC</td>
            </tr>
            <tr *ngIf="callout.details.address !== ''">
                <td class=ci_header_address colspan=3>{{ callout.details.address }}</td>
            </tr>
            <tr *ngIf="callout.details.callout_comments !== ''">
                <td class="ci_header_type" colspan="3">Comments: {{ callout.details.callout_comments }}</td>
            </tr>
            <tr>
                <td *ngIf="isCalloutPending(callout)" class="ci_header_type_blink">{{ callout.details.callout_type_desc }}</td>
                <td *ngIf="!isCalloutPending(callout)" class="ci_header_type">{{ callout.details.callout_type_desc }}</td>
                <td class=ci_header_time>{{ callout.details.calltime }}</td>
                <td *ngIf="isCalloutPending(callout)" class="ci_header_status_blink">{{ callout.details.callout_status_desc }}</td>
                <td *ngIf="!isCalloutPending(callout)" class="ci_header_status">{{ callout.details.callout_status_desc }}</td>
            </tr>
        </table>
        <hr>
        <table class="box-table-a" border="0" width="100%">
            <tr>
                <td><span class="ci_header_units">CALCULATED TRAVEL: </span><span class="ci_header_units_list" id="geo_tag"></span></td>
            </tr>
            <tr>
                <td><span class="ci_header_units">UNITS: </span><span class="ci_header_units_list">{{ callout.details.units }}</span></td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="2" border="1" width="95%">
                        <tr>
                            <td><span class="ci_responders_header">Responder</span></td>
                            <td><span class="ci_responders_header">Status</span></td>
                            <td><span class="ci_responders_header">Response Time</span></td>
                            <td><span class="ci_responders_header">ETA on scene</span></td>
                        </tr>
                        <tr *ngFor="let row_responding of callout.callout_details_responding_list;let row_index = index">
                            <td>
                                <span *ngIf="+row_responding.latitude != 0.0 && +row_responding.longitude != 0.0;else responders_member_nogeo" class=ci_responders_members>
                                    <a target="_blank" href="https://maps.google.com/maps?saddr={{ row_responding.responder_location }}&daddr={{ row_responding.firehall_location }} ({{ row_responding.firehall_location }})">{{ row_responding.user_id }}</a>
                                </span>
                                <ng-template #responders_member_nogeo>
                                    <span *ngIf="+row_responding.latitude == 0.0 || +row_responding.longitude == 0.0" class="ci_responders_members">{{ row_responding.user_id }}</span>
                                </ng-template>
                            </td>
                            <td>
                                <div *ngIf="isAllowedToEditResponse(callout, row_responding);else responders_none">
                                    <select id="ui_call_update_response_status{{ row_responding.id }}" 
                                            class="ci_header_type_blink_response_status" 
                                            [ngModel]="row_responding.status" (change)="onChangeResponse($event, row_responding.user_id, callout)">
                                        <option *ngFor="let status_def of getValidRespondingStatuses(callout.callout_status_defs,callout.member_access,callout.member_type)" 
                                                [ngValue]="status_def.id">
                                            {{ status_def.displayName }}
                                        </option>
                                    </select>
                                </div>
                                <ng-template #responders_none>
                                    <span class="ci_responders_header">{{ row_responding.responder_display_status }}</span>
                                </ng-template>
                            </td>
                            <td>
                                <span class="ci_header_response_time">{{ row_responding.responsetime }}</span>
                            </td>
                            <td>
                                <input type="hidden" id="responder_geo_{{ row_index }}" value="{{ row_responding.responder_location }}">
                                <input type="hidden" id="responder_name_{{ row_index }}" value="{{ row_responding.user_id }}">
                                <span class="ci_header_response_eta" id="responder_eta_{{ row_index }}">?</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div id="callResponseContent">
        <span *ngIf="isCalloutPending(callout)" id='reload_timer_ui' class='ci_reload_timer'></span><br>
    </div>

    <agm-map [latitude]="callout.details.latitude" [longitude]="callout.details.longitude" [zoom]="12">
        <agm-marker *ngFor="let m of markers$ | async; let idx = index"
                    (markerClick)="clickedMarker(m.label, idx)"
                    [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [title]="m.title"
                    [iconUrl]="m.icon" [markerDraggable]="m.draggable"
                    (dragEnd)="markerDragEnd(m, $event)">
        </agm-marker>
        <agm-direction *ngIf="direction$ | async; let dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
        <agm-kml-layer [url]="getUrl('kml/boundaries.kml')" [zIndex]="2"></agm-kml-layer>
    </agm-map>

    <table width="100%" align="center">
        <tr *ngFor="let row_no of getNoRespondersList(callout)">
            <td class="ci_align_cell">
                <span class='inset-button'>{{ row_no.user_id }}</span>
            </td>
            <td class="ci_align_cell" colspan="2">
                <INPUT TYPE="button" VALUE="Notify" class="ci_respondnow_update" 
                       (click)="setResponse(row_no, callout)" /> 
                <select id="ui_call_set_response_status{{ row_no.id }}" class="ci_respondnow" [ngModel]="defaultStatusResponse$">
                    <option *ngFor="let status_def of getValidRespondingStatuses(callout.callout_status_defs,callout.member_access,callout.member_type)" 
                            [ngValue]="status_def.id">
                    {{ status_def.displayName }}
                    </option>
                </select>
            </td>
        </tr>

        <tr *ngFor="let row_yes of getYesRespondersList(callout)">
            <td class="ci_align_cell">
                <span class='inset-button'>{{ row_yes.user_id }}</span>
            </td>
            <td class="ci_align_cell">
                <INPUT TYPE="button" VALUE="Complete the call" class="ci_completenow" 
                       (click)="setResponseCompleted(row_yes, callout)"/>
            </td>
            <td>
                <INPUT TYPE="button" VALUE="Cancel the call" class="ci_cancelnow" 
                       (click)="setResponseCancelled(row_yes, callout)"/>
            </td>
        </tr>
    </table>

  </div>
</div>
</ng-template>