#user_send_msg input[type="button"],
#user_send_msg input[type="submit"] {
    background: #aabcfe;
    background: -moz-linear-gradient(top,  #aabcfe 0%, #e8edff 100%);
    background: -webkit-linear-gradient(top,  #aabcfe 0%,#e8edff 100%);
    background: -o-linear-gradient(top,  #aabcfe 0%,#e8edff 100%);
    background: -ms-linear-gradient(top,  #aabcfe 0%,#e8edff 100%);
    background: linear-gradient(to bottom,  #aabcfe 0%,#e8edff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aabcfe', endColorstr='#e8edff',GradientType=0 );
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    border: 1px solid #aabcfe;
    color: #00246B;
    cursor: pointer;
    float: left;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 20px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    width: 150px;
}

#user_send_msg input[type="button"]:hover,
#user_send_msg input[type="submit"]:hover {
    background: #e8edff;
    background: -moz-linear-gradient(top,  #e8edff 0%, #aabcfe 100%);
    background: -webkit-linear-gradient(top,  #e8edff 0%,#aabcfe 100%);
    background: -o-linear-gradient(top,  #e8edff 0%,#aabcfe 100%);
    background: -ms-linear-gradient(top,  #e8edff 0%,#aabcfe 100%);
    background: linear-gradient(to bottom,  #e8edff 0%,#aabcfe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#aabcfe',GradientType=0 );
}
#user_send_msg div a {
    color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}
